<h1>Here you can create a new article!</h1>
<br>
<div class="container">
<%= form_for(@article) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :constent %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>
</div>